.aboutme {
    background: #93caff;
    font-family: Tahoma, serif;
}

.mood-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#name {
    color: #0050ff;
    /*animation-name: name;*/
    /*animation-duration: 4s;*/
    /*animation-iteration-count: infinite;*/
}

/*@keyframes name {*/
/*    from {*/
/*        color: red;*/
/*    }*/
/*    to {*/
/*        color: yellow;*/
/*    }*/
/*}*/

#friend-1, #friend-2 {
    color: brown;
    /*animation-name: friend;*/
    /*animation-duration: 6s;*/
    /*animation-iteration-count: infinite;*/
}

/*@keyframes friend {*/
/*    0%   {color: #ff8800;}*/
/*    25%  {color: yellow;}*/
/*    50%  {color: #37ff00;}*/
/*    100% {color: #cd00ff;}*/
/*}*/

/*#friend-2 {*/

/*}*/